<div class="masthead">

    <div class="container">
        <!-- starts carousel -->

        <div id="masthead-carousel" class="carousel masthead-carousel slide">
            <div class="carousel-inner">

                <div class="item active">

                    <div class="row">

                        <div class="col-md-6 masthead-text animated fadeInDownBig">
                            <h1 class="masthead-title">Feeling helpless against the bugs that infest your projects?</h1>

                            <h3 class="masthead-">
                                Never fear! Bug Hero is here!
                            </h3>

                            <br>

                            <div class="masthead-actions">
                                <a href="#features" class="btn btn-transparent btn-jumbo">
                                    Learn More
                                </a>

                                <a href="@Url.Action("Register", "Account")" class="btn btn-primary btn-jumbo">
                                    Create an Account
                                </a>
                            </div> <!-- /.masthead-actions -->
                        </div> <!-- /.masthead-text -->

                        <div class="col-md-6 masthead-img animated fadeInUpBig">
                            <img src="~/img/bughero-bobby.png" alt="slide2" class="img-responsive" />
                        </div> <!-- /.masthead-img -->

                    </div> <!-- /.row -->

                </div> <!-- /.item -->

            </div>  <!-- /.carousel-inner -->
            <!-- Carousel nav -->

            @*<div class="carousel-controls">
                <a class="carousel-control left" href="#masthead-carousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#masthead-carousel" data-slide="next">&rsaquo;</a>
            </div>*@

        </div> <!-- /.masthead-carousel -->

    </div>

</div> <!-- /.masthead -->



<div class="content">

    <div class="container">

        <h3 id="features" class="content-title">
            <span>FEATURES</span>
        </h3>

        <br>

        <div class="row">

            <div class="mini-feature">
                <i class="fa fa-file-code-o mini-feature-icon text-secondary"></i>

                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Project Management</h5>
                    <p>Bug Hero makes it stupid simple for project managers to organize priorities and communicate with developers.</p>
                </div>
            </div> <!-- /.mini-feature -->

            <div class="mini-feature">
                <i class="fa fa-dashboard mini-feature-icon text-secondary"></i>

                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Bug Tracking</h5>
                    <p>Bug tracking has never been easier!</p>
                </div>
            </div> <!-- /.mini-feature -->

            <div class="mini-feature">
                <i class="fa fa-code mini-feature-icon text-secondary"></i>

                <div class="mini-feature-text">
                    <h5 class="mini-feature-title">Code Review</h5>
                    <p>
                        Bug Hero gives developers the tools they need to make the code review process painless.
                    </p>
                </div>
            </div> <!-- /.mini-feature -->

        </div> <!-- /.row -->

        <div class="row-divider"></div> <!-- /.row-divider -->

        <h3 id="faq" class="content-title">
            <span>FAQ</span>
        </h3>

        <div class="row">
            <div class="col-sm-8">
                <div id="accordion-help" class="panel-group accordion-simple">

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#faq-general-1">
                                    <i class="fa accordion-caret"></i><i class="fa faq-accordion-caret"></i>
                                    How can I do a demo?
                                </a>
                            </h4>
                        </div><!-- .panel-heading -->

                        <div id="faq-general-1" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Login with username <strong>"demo"</strong> and password <strong>"Abc123!"</strong>
                                </p>
                            </div><!-- .panel-body -->
                        </div> <!-- ./panel-collapse -->
                    </div><!-- .panel -->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#faq-general-2">
                                    <i class="fa accordion-caret"></i><i class="fa faq-accordion-caret"></i>
                                    What is Bug Hero?
                                </a>
                            </h4>
                        </div><!-- .panel-heading -->

                        <div id="faq-general-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Bug Hero is a simple bug tracking app created by <a href="http://aleury.github.io">Adam Eury</a> during his time
                                    as a student at <a href="http://www.coderfoundry.com">Coder Foundry</a>, a Coding Bootcamp based in North Carolina.
                                    It was a first project to learn how to use <a href="http://www.asp.net/mvc/overview">ASP.NET MVC 5</a> and a host
                                    of other technologies.
                                </p>

                                <p>
                                    In its current state Bug Hero uses ASP.NET Identity for user authentication and authorization.
                                    It has basic CRUD functionality for Projects, Tickets, Ticket Comments, and Ticket Attachments.
                                    It has project-based roles such as "Project Manager" and "Developer".
                                </p>

                                <p>
                                    If I had the time and motivation to continue working on this project a few things I would like to add
                                    include
                                    <ul>
                                        <li>
                                            Git integration with <a href="https://libgit2.github.com/">LibGit2Sharp</a>
                                        </li>
                                        <li>
                                            Server Sent Events (SSEs) for notifications.
                                        </li>
                                        <li>
                                            Code Review
                                        </li>
                                    </ul>
                                </p>
                            </div><!-- .panel-body -->
                        </div> <!-- ./panel-collapse -->
                    </div><!-- .panel -->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#faq-general-3">
                                    <i class="fa accordion-caret"></i><i class="fa faq-accordion-caret"></i>
                                    How was the app made?
                                </a>
                            </h4>
                        </div><!-- .panel-heading -->

                        <div id="faq-general-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    This app was built with 
                                    <ul>
                                        <li>
                                            <a href="http://www.asp.net/mvc/overview">ASP.NET MVC 5</a>
                                        </li>
                                        <li>
                                            <a href="http://www.microsoft.com/en-us/server-cloud/products/sql-server/">MS SQL Server</a>
                                        </li>
                                        <li>
                                            <a href="http://restfulrouting.com/">Restful Routing</a>
                                        </li>
                                        <li>
                                            <a href="http://www.jquery.com">jQuery</a>
                                        </li>
                                        <li>
                                            <a href="http://getbootstrap.com">Bootstrap</a>
                                        </li>
                                    </ul>
                                </p>

                                <p>
                                    Huge thanks and appreciation goes to <a href="http://www.linkedin.com/in/tiffanytalato">Tiffany Talato</a> 
                                    for creating the shield logo and <a href="http://www.linkedin.com/in/bobbydavisjr">Bobby Davis Jr.</a> for
                                    making the Bug Hero character!
                                </p>
                            </div><!-- .panel-body -->
                        </div> <!-- ./panel-collapse -->
                    </div><!-- .panel -->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#faq-general-4"><i class="fa accordion-caret"></i><i class="fa faq-accordion-caret"></i>
                                    I have more questions. How can I contact you?
                                </a>
                            </h4>
                        </div><!-- .panel-heading -->

                        <div id="faq-general-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    You can contact me at <a href="mailto:adameury@outlook.com">adameury@outlook.com</a>.
                                </p>
                            </div><!-- .panel-body -->
                        </div> <!-- ./panel-collapse -->
                    </div><!-- .panel -->

                    <div class="panel">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-help" href="#faq-general-5">
                                    <i class="fa accordion-caret"></i><i class="fa faq-accordion-caret"></i>
                                    I'd like to hire you! Where can I get more information?
                                </a>
                            </h4>
                        </div><!-- .panel-heading -->

                        <div id="faq-general-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                <p>
                                    Please contact <a href="mailto:agregory@coderfoundry.com">Amy Gregory</a>, the Director of Recruiting and Marketing at <a href="http://www.coderfoundry.com">Coder Foundry</a>.
                                </p>
                            </div><!-- .panel-body -->
                        </div> <!-- ./panel-collapse -->
                    </div><!-- .panel -->
                </div> <!-- /.accordion -->
            </div>
        </div>

        <div class="row-divider"></div> <!-- /.row-divider -->

        <div class="row">

        </div>

    </div> <!-- /.container -->

</div> <!-- /.content -->
