.logo {
    height: 40px;
    width: 40px;
    margin-top: -20px;
}

h3.logo-text {
    display: inline-block;
    font-size: 30px;
    color: #fff;
    padding: 0;
    margin: 0px;
}
.HeaderLogoWraper {
    margin: 0 auto;
    text-align: center;
    width: 100%;

}