@model BugTracker.Models.UserSettingsViewModel

@using BugTracker.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Account Settings";
}

<p class="text-success">@ViewBag.StatusMessage</p>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/js/plugins/fileupload/bootstrap-fileupload.js"></script>
}

<div class="row">

    <div class="col-md-3 col-sm-4">

        <ul id="myTab" class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#profile-tab" data-toggle="tab">
                    <i class="fa fa-user"></i>
                    &nbsp;&nbsp;Profile Settings
                </a>
            </li>
            <li>
                <a href="#password-tab" data-toggle="tab">
                    <i class="fa fa-lock"></i>
                    &nbsp;&nbsp;Change Password
                </a>
            </li>
            <li>
                <a href="#payments" data-toggle="tab">
                    <i class="fa fa-dollar"></i>
                    &nbsp;&nbsp;Payment Settings
                </a>
            </li>
        </ul>
    </div> <!-- /.col -->

    <div class="col-md-9 col-sm-8">

        <div class="tab-content stacked-content">
            <div class="tab-pane fade in active" id="profile-tab">
                @Html.Partial("_UserSettingsPartial", Model.EditUserViewModel)
            </div>
            <div class="tab-pane fade" id="password-tab">
                @Html.Partial("_ChangePasswordPartial", Model.ManageUserViewModel)
            </div>

            <div class="tab-pane fade" id="messaging">
                <h3>Message Settings</h3>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </div>

            <div class="tab-pane fade" id="payments">
                <h3>Payments Settings</h3>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </div>

            <div class="tab-pane fade" id="reports">
                <h3>Reports Settings</h3>
                <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork. Williamsburg banh mi whatever gluten-free, carles pitchfork biodiesel fixie etsy retro mlkshk vice blog. Scenester cred you probably haven't heard of them, vinyl craft beer blog stumptown. Pitchfork sustainable tofu synth chambray yr.</p>

                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.</p>
            </div>

        </div>

    </div> <!-- /.col -->

</div> <!-- /.row -->
